{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="col-12">
                        <br />
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Username</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    {{ profile.user.username }}
                                </div>
                            </div>
                            <hr />

                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">First name</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    {{ profile.user.first_name }}
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Last name</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    {{ profile.user.last_name }}
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Email</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    {{ profile.user.email }}
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Categories</label>
                                </div>
                                {% for category in profile.categories.all %}
                                <div class="col-md-2 col-6">
                                    {{ category }}
                                </div>
                                {% endfor %}
                            </div>
                        <hr />
                         <div class="row">
                            <div class="col-sm-3 col-md-2 col-5">
                                <label style="font-weight:bold;">Company</label>
                            </div>
                            <div class="col-md-8 col-6">
                                {{ profile.company }}
                            </div>
                         </div>
                         <hr />
                         <div class="row">
                            <div class="col-sm-3 col-md-2 col-5">
                                <label style="font-weight:bold;">Phone number</label>
                            </div>
                            <div class="col-md-8 col-6">
                                {{ profile.phone_number }}
                            </div>
                        </div>
                        <hr />
                         <div class="row">
                            <div class="col-sm-3 col-md-2 col-5">
                                <label style="font-weight:bold;">Country</label>
                            </div>
                            <div class="col-md-8 col-6">
                                {{ profile.country }}
                            </div>
                         </div>
                    <hr />
                         <div class="row">
                            <div class="col-sm-3 col-md-2 col-5">
                                <label style="font-weight:bold;">State</label>
                            </div>
                            <div class="col-md-8 col-6">
                                {{ profile.state }}
                            </div>
                         </div>
                    <hr />
                         <div class="row">
                            <div class="col-sm-3 col-md-2 col-5">
                                <label style="font-weight:bold;">City</label>
                            </div>
                            <div class="col-md-8 col-6">
                                {{ profile.city }}
                            </div>
                         </div>
                    <hr />
                         <div class="row">
                            <div class="col-sm-3 col-md-2 col-5">
                                <label style="font-weight:bold;">Postal code</label>
                            </div>
                            <div class="col-md-8 col-6">
                                {{ profile.postal_code }}
                            </div>
                         </div>
                    <hr />
                         <div class="row">
                            <div class="col-sm-3 col-md-2 col-5">
                                <label style="font-weight:bold;">Street address</label>
                            </div>
                            <div class="col-md-8 col-6">
                                {{ profile.street_address }}
                            </div>
                         </div>
                     <hr />
                         <div class="row">
                            <div class="col-sm-3 col-md-2 col-5">
                                <label style="font-weight:bold;">User ratings</label>
                            </div>
                            <div class="col-md-8 col-6">
                                {% if user != profile.user and not has_rated%}
                                 <div class="star-rating">
                              <form class="star-rating__wrap" method="POST" action="./rate_profile/">
                                  {% csrf_token %}
                                <input class="star-rating__input" id="star-rating-5" type="submit" name="rating" value="5">
                                <label class="star-rating__icon fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-4" type="submit" name="rating" value="4">
                                <label class="star-rating__icon fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-3" type="submit" name="rating" value="3">
                                <label class="star-rating__icon fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-2" type="submit" name="rating" value="2">
                                <label class="star-rating__icon fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-1" type="submit" name="rating" value="1">
                                <label class="star-rating__icon fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                              </form>
                            </div>
                                {%  endif %}
                                <div class="star-rating">
        {%  if has_rated %}
            {% if user != profile.user %}
      <form class="star-rating__wrap" method="POST" action="./rate_profile/">
      {% csrf_token %}
      {% endif %}
      {%  if avg_rating >= 5 %}
          <label class="star-rating__ico fa fa-star fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
           <input class="star-rating__input" id="star-rating-5" type="submit" name="rating" value="5">
          {% else %}
           <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
           <input class="star-rating__input" id="star-rating-5" type="submit" name="rating" value="5">
          {% endif %}
       {%  if avg_rating >= 4 %}
          <label class="star-rating__ico fa fa-star fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
            <input class="star-rating__input" id="star-rating-4" type="submit" name="rating" value="4">
          {% else %}
           <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
            <input class="star-rating__input" id="star-rating-4" type="submit" name="rating" value="4">
          {% endif %}
       {%  if avg_rating >= 3 %}
          <label class="star-rating__ico fa fa-star fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
            <input class="star-rating__input" id="star-rating-3" type="submit" name="rating" value="3">
          {% else %}
           <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
            <input class="star-rating__input" id="star-rating-3" type="submit" name="rating" value="3">
          {% endif %}
        {%  if avg_rating >= 2 %}
          <label class="star-rating__ico fa fa-star fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
             <input class="star-rating__input" id="star-rating-2" type="submit" name="rating" value="2">
          {% else %}
           <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
             <input class="star-rating__input" id="star-rating-2" type="submit" name="rating" value="2">
          {% endif %}
       {%  if avg_rating >= 1 %}
          <label class="star-rating__ico fa fa-star fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
            <input class="star-rating__input" id="star-rating-1" type="submit" name="rating" value="1">
          {% else %}
           <label class="star-rating__not-rated fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
            <input class="star-rating__input" id="star-rating-1" type="submit" name="rating" value="1">
          {% endif %}
      </form>
            {% endif %}
         <h6>
            Avg rating from users: {{ avg_rating_float }}
         </h6>
            {% if user != profile.user and has_rated %}
            <h6>You have already rated this user a rating of {{ user_rated }}.</h6>
            <h6>You can <b>overwrite</b> this by rating again</h6>
            {% endif %}
        </div>
         </div>
        </div>
        </div>
        </div>
        </div>
    </div>
    </div>
    {% if user == profile.user %}
        <div style="text-align: center; padding: 10px">
            <a role="button" class="btn btn-primary my-2 my-sm-0" href="/user/{{ user.username }}/edit_password">Edit Password</a>
        </div>
    {% endif %}
    </div>
{% endblock %}